<!DOCTYPE html>
<html class="windows x86 js win7up x64 loaded" dir="ltr" data-latest-firefox="63.0.1" data-esr-versions="60.3.0" data-gtm-container-id="GTM-MW3R8V" data-stub-attribution-rate="1.0" lang="es-CL"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">

    <script type="text/javascript" src="assets/site.js" charset="utf-8"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    

    <title>Firefox Developer Edition</title>
    <meta name="description" content="Firefox Developer Edition es tu rápido navegador de siempre, ahora con las mejores herramientas de desarrollo y las últimas funciones como soporte para cuadrículas CSS y depuración de marcos de trabajo">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Mozilla">
    <meta property="og:locale" content="es_CL">
    <meta property="og:url" content="https://www.mozilla.org/es-CL/firefox/developer/">
    <meta property="og:image" content="https://www.mozilla.org/media/img/firefox/developer/page-image.5c2b5c5ce10a.png">
    <meta property="og:title" content="Firefox Developer Edition">
    <meta property="og:description" content="Firefox Developer Edition es tu rápido navegador de siempre, ahora con las mejores herramientas de desarrollo y las últimas funciones como soporte para cuadrículas CSS y depuración de marcos de trabajo">
    <meta property="fb:page_id" content="14696440021">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@firefox">
    <meta name="twitter:domain" content="mozilla.org">
    <meta name="twitter:app:name:googleplay" content="Firefox">
    <meta name="twitter:app:id:googleplay" content="org.mozilla.firefox">
    <meta name="twitter:app:name:iphone" content="Firefox">
    <meta name="twitter:app:id:iphone" content="989804926">
    <meta name="twitter:app:name:ipad" content="Firefox">
    <meta name="twitter:app:id:ipad" content="989804926">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="https://www.mozilla.org/media/img/firefox/ios-icon-180.f7c89c6f4a0e.png">
    <link rel="icon" type="image/png" sizes="196x196" href="https://www.mozilla.org/media/img/firefox/developer/favicon-196.44a728ad9ca5.png">
    <link rel="shortcut icon" href="https://www.mozilla.org/media/img/firefox/developer/favicon.460e1987c1e3.png">
        <link rel="canonical" href="https://www.mozilla.org/es-CL/firefox/developer/">
    <link rel="alternate" hreflang="x-default" href="https://www.mozilla.org/en-US/firefox/developer/">
    <link rel="alternate" hreflang="an" href="https://www.mozilla.org/an/firefox/developer/" title="aragonés">
        <link rel="alternate" hreflang="az" href="https://www.mozilla.org/az/firefox/developer/" title="Azərbaycanca">
        <link rel="alternate" hreflang="be" href="https://www.mozilla.org/be/firefox/developer/" title="Беларуская">
        <link rel="alternate" hreflang="bg" href="https://www.mozilla.org/bg/firefox/developer/" title="Български">
        <link rel="alternate" hreflang="bn-IN" href="https://www.mozilla.org/bn-IN/firefox/developer/" title="বাংলা (ভারত)">
        <link rel="alternate" hreflang="bs" href="https://www.mozilla.org/bs/firefox/developer/" title="Bosanski">
        <link rel="alternate" hreflang="cs" href="https://www.mozilla.org/cs/firefox/developer/" title="Čeština">
        <link rel="alternate" hreflang="cy" href="https://www.mozilla.org/cy/firefox/developer/" title="Cymraeg">
        <link rel="alternate" hreflang="da" href="https://www.mozilla.org/da/firefox/developer/" title="Dansk">
        <link rel="alternate" hreflang="de" href="https://www.mozilla.org/de/firefox/developer/" title="Deutsch">
        <link rel="alternate" hreflang="el" href="https://www.mozilla.org/el/firefox/developer/" title="Ελληνικά">
        <link rel="alternate" hreflang="en-CA" href="https://www.mozilla.org/en-CA/firefox/developer/" title="English (Canadian)">
        <link rel="alternate" hreflang="en-GB" href="https://www.mozilla.org/en-GB/firefox/developer/" title="English (British)">
        <link rel="alternate" hreflang="en" href="https://www.mozilla.org/en-US/firefox/developer/" title="English">
        <link rel="alternate" hreflang="en-US" href="https://www.mozilla.org/en-US/firefox/developer/" title="English (USA)">
        <link rel="alternate" hreflang="eo" href="https://www.mozilla.org/eo/firefox/developer/" title="Esperanto">
        <link rel="alternate" hreflang="es-AR" href="https://www.mozilla.org/es-AR/firefox/developer/" title="Español (de Argentina)">
        <link rel="alternate" hreflang="es-CL" href="https://www.mozilla.org/es-CL/firefox/developer/" title="Español (de Chile)">
        <link rel="alternate" hreflang="es" href="https://www.mozilla.org/es-ES/firefox/developer/" title="Español">
        <link rel="alternate" hreflang="es-ES" href="https://www.mozilla.org/es-ES/firefox/developer/" title="Español (de España)">
        <link rel="alternate" hreflang="es-MX" href="https://www.mozilla.org/es-MX/firefox/developer/" title="Español (de México)">
        <link rel="alternate" hreflang="fa" href="https://www.mozilla.org/fa/firefox/developer/" title="فارسی">
        <link rel="alternate" hreflang="fr" href="https://www.mozilla.org/fr/firefox/developer/" title="Français">
        <link rel="alternate" hreflang="fy" href="https://www.mozilla.org/fy-NL/firefox/developer/" title="Frysk">
        <link rel="alternate" hreflang="fy-NL" href="https://www.mozilla.org/fy-NL/firefox/developer/" title="Frysk">
        <link rel="alternate" hreflang="gn" href="https://www.mozilla.org/gn/firefox/developer/" title="Avañe'ẽ">
        <link rel="alternate" hreflang="gu" href="https://www.mozilla.org/gu-IN/firefox/developer/" title="ગુજરાતી">
        <link rel="alternate" hreflang="gu-IN" href="https://www.mozilla.org/gu-IN/firefox/developer/" title="ગુજરાતી (ભારત)">
        <link rel="alternate" hreflang="hi" href="https://www.mozilla.org/hi-IN/firefox/developer/" title="हिन्दी">
        <link rel="alternate" hreflang="hi-IN" href="https://www.mozilla.org/hi-IN/firefox/developer/" title="हिन्दी (भारत)">
        <link rel="alternate" hreflang="hu" href="https://www.mozilla.org/hu/firefox/developer/" title="magyar">
        <link rel="alternate" hreflang="hy" href="https://www.mozilla.org/hy-AM/firefox/developer/" title="Հայերեն">
        <link rel="alternate" hreflang="hy-AM" href="https://www.mozilla.org/hy-AM/firefox/developer/" title="Հայերեն">
        <link rel="alternate" hreflang="ia" href="https://www.mozilla.org/ia/firefox/developer/" title="Interlingua">
        <link rel="alternate" hreflang="id" href="https://www.mozilla.org/id/firefox/developer/" title="Bahasa Indonesia">
        <link rel="alternate" hreflang="it" href="https://www.mozilla.org/it/firefox/developer/" title="Italiano">
        <link rel="alternate" hreflang="ja" href="https://www.mozilla.org/ja/firefox/developer/" title="日本語">
        <link rel="alternate" hreflang="ka" href="https://www.mozilla.org/ka/firefox/developer/" title="ქართული">
        <link rel="alternate" hreflang="ko" href="https://www.mozilla.org/ko/firefox/developer/" title="한국어">
        <link rel="alternate" hreflang="lt" href="https://www.mozilla.org/lt/firefox/developer/" title="Lietuvių">
        <link rel="alternate" hreflang="ml" href="https://www.mozilla.org/ml/firefox/developer/" title="മലയാളം">
        <link rel="alternate" hreflang="mr" href="https://www.mozilla.org/mr/firefox/developer/" title="मराठी">
        <link rel="alternate" hreflang="ms" href="https://www.mozilla.org/ms/firefox/developer/" title="Melayu">
        <link rel="alternate" hreflang="nb-NO" href="https://www.mozilla.org/nb-NO/firefox/developer/" title="Norsk bokmål">
        <link rel="alternate" hreflang="nl" href="https://www.mozilla.org/nl/firefox/developer/" title="Nederlands">
        <link rel="alternate" hreflang="nn-NO" href="https://www.mozilla.org/nn-NO/firefox/developer/" title="Norsk nynorsk">
        <link rel="alternate" hreflang="pa" href="https://www.mozilla.org/pa-IN/firefox/developer/" title="ਪੰਜਾਬੀ">
        <link rel="alternate" hreflang="pa-IN" href="https://www.mozilla.org/pa-IN/firefox/developer/" title="ਪੰਜਾਬੀ (ਭਾਰਤ)">
        <link rel="alternate" hreflang="pl" href="https://www.mozilla.org/pl/firefox/developer/" title="Polski">
        <link rel="alternate" hreflang="pt-BR" href="https://www.mozilla.org/pt-BR/firefox/developer/" title="Português (do&nbsp;Brasil)">
        <link rel="alternate" hreflang="pt" href="https://www.mozilla.org/pt-PT/firefox/developer/" title="Português">
        <link rel="alternate" hreflang="pt-PT" href="https://www.mozilla.org/pt-PT/firefox/developer/" title="Português (Europeu)">
        <link rel="alternate" hreflang="rm" href="https://www.mozilla.org/rm/firefox/developer/" title="rumantsch">
        <link rel="alternate" hreflang="ro" href="https://www.mozilla.org/ro/firefox/developer/" title="Română">
        <link rel="alternate" hreflang="ru" href="https://www.mozilla.org/ru/firefox/developer/" title="Русский">
        <link rel="alternate" hreflang="sk" href="https://www.mozilla.org/sk/firefox/developer/" title="slovenčina">
        <link rel="alternate" hreflang="sl" href="https://www.mozilla.org/sl/firefox/developer/" title="Slovenščina">
        <link rel="alternate" hreflang="sq" href="https://www.mozilla.org/sq/firefox/developer/" title="Shqip">
        <link rel="alternate" hreflang="sr" href="https://www.mozilla.org/sr/firefox/developer/" title="Српски">
        <link rel="alternate" hreflang="sv" href="https://www.mozilla.org/sv-SE/firefox/developer/" title="Svenska">
        <link rel="alternate" hreflang="sv-SE" href="https://www.mozilla.org/sv-SE/firefox/developer/" title="Svenska">
        <link rel="alternate" hreflang="ta" href="https://www.mozilla.org/ta/firefox/developer/" title="தமிழ்">
        <link rel="alternate" hreflang="th" href="https://www.mozilla.org/th/firefox/developer/" title="ไทย">
        <link rel="alternate" hreflang="tr" href="https://www.mozilla.org/tr/firefox/developer/" title="Türkçe">
        <link rel="alternate" hreflang="uk" href="https://www.mozilla.org/uk/firefox/developer/" title="Українська">
        <link rel="alternate" hreflang="zh" href="https://www.mozilla.org/zh-CN/firefox/developer/" title="中文">
          <link rel="alternate" hreflang="zh-CN" href="https://www.mozilla.org/zh-CN/firefox/developer/" title="中文 (简体)">
          <link rel="alternate" hreflang="zh-TW" href="https://www.mozilla.org/zh-TW/firefox/developer/" title="正體中文 (繁體)">
        
    

    

    <!--[if lte IE 8]>
      
      <script src="/media/js/libs/html5shiv.42594ff91377.js"></script>

      
      
      <link href="/media/css/BUNDLES/oldIE-pebbles.b7e68dca9b65.css" rel="stylesheet" type="text/css" />
      
    <![endif]-->

    

    <!--[if !lte IE 8]><!-->
    
    
      <link href="assets/pebbles.css" rel="stylesheet" type="text/css">
      
        <link href="assets/pebbles-protocol-nav.css" rel="stylesheet" type="text/css">
      
    

    
    
  <link href="assets/firefox_developer.css" rel="stylesheet" type="text/css">

    <!--<![endif]-->

    
      
    

    
    
      <!--
Read more about our custom configuration and use of Google Analytics here:
https://bugzilla.mozilla.org/show_bug.cgi?id=1122305#c8
-->

<!-- Google Tag Manager -->
<!-- Customized for Mozilla.org-->
<!-- Region Container: NONE -->
<!-- Rollup Container: System Filtered -->
<!-- Site Container: NONE -->


  <script type="text/javascript" src="assets/gtm-snippet.js" charset="utf-8"></script>

<!-- End Google Tag Manager -->
    
  <style type="text/css"></style></head>

  <body id="firefox-developer" class="html-ltr firefox-developer" data-global-nav-current-link="firefox" cz-shortcut-listen="true">
    <div id="strings" data-global-close="Cerrar" data-global-next="Siguiente" data-global-previous="Anterior" data-global-update-firefox="Actualiza tu Firefox" data-global-fx-out-of-date-banner-heading="Tu Firefox está desactualizado." data-global-fx-out-of-date-banner-message="Obtén la versión más reciente para seguir navegando seguro." data-global-fx-out-of-date-banner-confirm="Actualizar Firefox"></div>

  
  
    
    

<header class="section masthead" id="masthead">
  <div class="content">
  
    <h2 class="masthead-logo">
      <a href="https://www.mozilla.org/es-CL/">
        <img src="assets/moz-wordmark-dark-reverse.svg" alt="Mozilla">
      </a>
    </h2>
  
    








<div id="nav-download-firefox" class="download-button">
  
  <div class="nojs-download">
    
  <div class="download download-dumb">
    <p role="heading" class="download-heading">
      
        Descargar Firefox
        — Español (de Chile)
    </p>
    <ul>
      <li><a href="https://download.mozilla.org/?product=firefox-stub&amp;os=win64&amp;lang=es-CL" class="download-link button button-green" data-link-type="download" data-download-version="win64" data-download-os="Desktop">Windows 64-bit</a>
        </li><li><a href="https://download.mozilla.org/?product=firefox-stub&amp;os=win&amp;lang=es-CL" class="download-link button button-green" data-link-type="download" data-download-version="win" data-download-os="Desktop">Windows 32-bit</a>
        </li><li><a href="https://download.mozilla.org/?product=firefox-latest-ssl&amp;os=osx&amp;lang=es-CL" class="download-link button button-green" data-link-type="download" data-download-version="osx" data-download-os="Desktop">macOS</a>
        </li><li><a href="https://download.mozilla.org/?product=firefox-latest-ssl&amp;os=linux64&amp;lang=es-CL" class="download-link button button-green" data-link-type="download" data-download-version="linux64" data-download-os="Desktop">Linux 64-bit</a>
        </li><li><a href="https://download.mozilla.org/?product=firefox-latest-ssl&amp;os=linux&amp;lang=es-CL" class="download-link button button-green" data-link-type="download" data-download-version="linux" data-download-os="Desktop">Linux 32-bit</a>
        </li><li><a href="https://play.google.com/store/apps/details?id=org.mozilla.firefox&amp;referrer=utm_source%3Dmozilla%26utm_medium%3DReferral%26utm_campaign%3Dmozilla-org" class="download-link button button-green" data-link-type="download" data-download-version="android" data-download-os="Android">Android</a>
        </li><li><a href="https://itunes.apple.com/us/app/apple-store/id989804926?pt=373246&amp;mt=8" class="download-link button button-green" data-link-type="download" data-download-version="ios" data-download-os="iOS">iOS</a>
        </li>
    </ul>
  </div>

  </div>
  
    
    <div class="unrecognized-download">
      <p>Puede que tu sistema no cumpla los requisitos para Firefox, pero igual puedes intentar con una de estas versiones:</p>
      
  <div class="download download-dumb">
    <p role="heading" class="download-heading">
      
        Descargar Firefox
        — Español (de Chile)
    </p>
    <ul>
      <li><a href="https://download.mozilla.org/?product=firefox-stub&amp;os=win64&amp;lang=es-CL" class="download-link button button-green" data-link-type="download" data-download-version="win64" data-download-os="Desktop">Windows 64-bit</a>
        </li><li><a href="https://download.mozilla.org/?product=firefox-stub&amp;os=win&amp;lang=es-CL" class="download-link button button-green" data-link-type="download" data-download-version="win" data-download-os="Desktop">Windows 32-bit</a>
        </li><li><a href="https://download.mozilla.org/?product=firefox-latest-ssl&amp;os=osx&amp;lang=es-CL" class="download-link button button-green" data-link-type="download" data-download-version="osx" data-download-os="Desktop">macOS</a>
        </li><li><a href="https://download.mozilla.org/?product=firefox-latest-ssl&amp;os=linux64&amp;lang=es-CL" class="download-link button button-green" data-link-type="download" data-download-version="linux64" data-download-os="Desktop">Linux 64-bit</a>
        </li><li><a href="https://download.mozilla.org/?product=firefox-latest-ssl&amp;os=linux&amp;lang=es-CL" class="download-link button button-green" data-link-type="download" data-download-version="linux" data-download-os="Desktop">Linux 32-bit</a>
        </li><li><a href="https://play.google.com/store/apps/details?id=org.mozilla.firefox&amp;referrer=utm_source%3Dmozilla%26utm_medium%3DReferral%26utm_campaign%3Dmozilla-org" class="download-link button button-green" data-link-type="download" data-download-version="android" data-download-os="Android">Android</a>
        </li><li><a href="https://itunes.apple.com/us/app/apple-store/id989804926?pt=373246&amp;mt=8" class="download-link button button-green" data-link-type="download" data-download-version="ios" data-download-os="iOS">iOS</a>
        </li>
    </ul>
  </div>

    </div>
    <p class="unsupported-download">
      Su sistema no cumple los <a href="https://www.mozilla.org/es-CL/firefox/system-requirements/">requisitos</a> para correr Firefox.
    </p>
    <p class="unsupported-download-osx">
      Su sistema no cumple los <a href="https://support.mozilla.org/kb/firefox-osx">requisitos</a> para correr Firefox.
    </p>
    <p class="linux-arm-download">
      Por favor, sigue <a href="https://support.mozilla.org/kb/install-firefox-linux">estas instrucciones</a> para instalar Firefox.
    </p>
  
  <ul class="download-list">
    
      <li class="os_win64">
        <a class="download-link button button-green" href="https://www.mozilla.org/firefox/download/thanks/" data-direct-link="https://download.mozilla.org/?product=firefox-stub&amp;os=win64&amp;lang=es-CL" data-link-type="download" data-display-name="Windows 64-bit" data-download-version="win64" data-download-os="Desktop" data-download-location="nav">
          <strong class="download-title">
            
              Descargar Firefox
            
          </strong>
        </a>
      </li>
    
      <li class="os_win">
        <a class="download-link button button-green" href="https://www.mozilla.org/firefox/download/thanks/" data-direct-link="https://download.mozilla.org/?product=firefox-stub&amp;os=win&amp;lang=es-CL" data-link-type="download" data-display-name="Windows 32-bit" data-download-version="win" data-download-os="Desktop" data-download-location="nav">
          <strong class="download-title">
            
              Descargar Firefox
            
          </strong>
        </a>
      </li>
    
      <li class="os_osx">
        <a class="download-link button button-green" href="https://www.mozilla.org/firefox/download/thanks/" data-direct-link="https://download.mozilla.org/?product=firefox-latest-ssl&amp;os=osx&amp;lang=es-CL" data-link-type="download" data-display-name="macOS" data-download-version="osx" data-download-os="Desktop" data-download-location="nav">
          <strong class="download-title">
            
              Descargar Firefox
            
          </strong>
        </a>
      </li>
    
      <li class="os_linux64">
        <a class="download-link button button-green" href="https://www.mozilla.org/firefox/download/thanks/" data-direct-link="https://download.mozilla.org/?product=firefox-latest-ssl&amp;os=linux64&amp;lang=es-CL" data-link-type="download" data-display-name="Linux 64-bit" data-download-version="linux64" data-download-os="Desktop" data-download-location="nav">
          <strong class="download-title">
            
              Descargar Firefox
            
          </strong>
        </a>
      </li>
    
      <li class="os_linux">
        <a class="download-link button button-green" href="https://www.mozilla.org/firefox/download/thanks/" data-direct-link="https://download.mozilla.org/?product=firefox-latest-ssl&amp;os=linux&amp;lang=es-CL" data-link-type="download" data-display-name="Linux 32-bit" data-download-version="linux" data-download-os="Desktop" data-download-location="nav">
          <strong class="download-title">
            
              Descargar Firefox
            
          </strong>
        </a>
      </li>
    
      <li class="os_android">
        <a class="download-link button button-green" href="https://play.google.com/store/apps/details?id=org.mozilla.firefox&amp;referrer=utm_source%3Dmozilla%26utm_medium%3DReferral%26utm_campaign%3Dmozilla-org" data-link-type="download" data-display-name="Android" data-download-version="android" data-download-os="Android" data-download-location="nav">
          <strong class="download-title">
            
              Descargar Firefox
            
          </strong>
        </a>
      </li>
    
      <li class="os_ios">
        <a class="download-link button button-green" href="https://itunes.apple.com/us/app/apple-store/id989804926?pt=373246&amp;mt=8" data-link-type="download" data-display-name="iOS" data-download-version="ios" data-download-os="iOS" data-download-location="nav">
          <strong class="download-title">
            
              Descargar Firefox
            
          </strong>
        </a>
      </li>
    
  </ul>
  <small class="fx-privacy-link">
    
      
    
    <a href="https://www.mozilla.org/es-CL/privacy/firefox/">Privacidad de Firefox</a>
  </small>
</div>

  </div>
</header>
  
<div id="outer-wrapper">
    

<div class="sticky-wrapper" style=""><nav class="moz-sub-nav firefox" role="navigation">
  <div class="nav-horizontal-menu-container">
    <div class="nav-horizontal-menu">
      <div class="sub-nav-primary-links-container">
        
<a class="sub-nav-logo-link" href="https://www.mozilla.org/es-CL/firefox/" data-link-name="Firefox" data-link-type="nav" data-link-position="subnav">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="26" height="26">
    <title>Firefox</title>
    <path class="sub-nav-logo-path" fill="context-fill" d="M31.91 14.63c0-.29-.09-.46-.09-.46s-.11.13-.3.38a10.8 10.8 0 0 0-.37-2 13.88 13.88 0 0 0-.94-2.42 10.08 10.08 0 0 0-.86-1.47L29 8.1c-.57-.93-1.23-1.5-2-2.58a7.83 7.83 0 0 1-1-2.69 10.88 10.88 0 0 0-.48 1.76c-.78-.79-1.46-1.35-1.87-1.73C21.65 1 21.88 0 21.88 0s-3.77 4.21-2.14 8.6a8.43 8.43 0 0 0 2.81 3.74c1.58 1.3 3.28 2.33 4.18 5A8.4 8.4 0 0 0 23.58 14a7.59 7.59 0 0 1 .6 3 7.14 7.14 0 0 1-8.74 7 6.58 6.58 0 0 1-1.77-.6 7.2 7.2 0 0 1-2.12-2h.13c.294.1.595.182.9.24a5.64 5.64 0 0 0 3.59-.42c1.13-.63 1.81-1.09 2.37-.91.54.17 1-.35.58-.9a3 3 0 0 0-2.86-1.11c-1.13.16-2.17 1-3.65.19l-.28-.16c-.1-.06.32.09.22 0a7.35 7.35 0 0 1-.93-.56s.22.07.2.05a3.59 3.59 0 0 1-1-1 1.75 1.75 0 0 1-.07-1.56 1.38 1.38 0 0 1 .6-.57l.31.17-.13-.24c.17.07.54.26.73.38a1 1 0 0 1 .34.3s.07 0 0-.17a.91.91 0 0 0-.35-.42 3 3 0 0 1 .43.27 2.09 2.09 0 0 0 .32-.88 1.18 1.18 0 0 0-.07-.5c-.05-.1 0-.14.12 0a1 1 0 0 0-.08-.24l.08-.09a1.43 1.43 0 0 1 .22-.18 10 10 0 0 1 1.47-.75l.83-.36c.103-.07.2-.146.29-.23a2 2 0 0 0 .66-1.14 1.59 1.59 0 0 0 0-.18c-.06-.23-.45-.39-2.48-.59a1.78 1.78 0 0 1-1.45-1.36l-.08.23.08-.23a5.15 5.15 0 0 1 2-2.47h-.16a5.18 5.18 0 0 1 .53-.23c.09 0-.39-.22-.82-.18a2.2 2.2 0 0 0-.76.18c.1-.09.4-.2.33-.2a4.88 4.88 0 0 0-1.57.42.31.31 0 0 1 0-.14 2.41 2.41 0 0 0-1 .75 1.29 1.29 0 0 0 0-.17 2.88 2.88 0 0 0-.47.45 6.3 6.3 0 0 0-3.53-.3 3 3 0 0 1-.63-.7c-.08-.11-.16-.24-.24-.39l-.18-.34s0 .11-.06.08a4.32 4.32 0 0 1-.28-1.69 1.89 1.89 0 0 0-.72.94c-.06.14-.1.21-.14.29-.04.08 0-.21 0-.2a1.74 1.74 0 0 0-.25.37 2.37 2.37 0 0 0-.15.38v-.17a9.53 9.53 0 0 0-.81 3 3 3 0 0 0 0 .54 6.64 6.64 0 0 0-.82 1.1 15.65 15.65 0 0 0-1.74 4.26A10.38 10.38 0 0 1 2 12.43a15 15 0 0 0-1 5.51 14.26 14.26 0 0 1 .45-1.63A13.85 13.85 0 0 0 2.7 22.8a15.08 15.08 0 0 0 6 6.77 13.06 13.06 0 0 0 3.48 1.67l.5.17-.15-.07A15.75 15.75 0 0 0 17 32c5.41 0 7.2-2.06 7.36-2.27a2.74 2.74 0 0 0 .64-.86l.32-.14h.07l.12-.06a11.35 11.35 0 0 0 2.28-1.43 5.51 5.51 0 0 0 2.13-3.11 1.94 1.94 0 0 0 0-1.43l.17-.28A12.74 12.74 0 0 0 32 16.2v-.18a7.76 7.76 0 0 0-.09-1.39z"></path>
  </svg>
</a>

        <ul class="sub-nav-primary-links">
          

        </ul>
      </div>
      <div class="sub-nav-download-wrapper">
        








<div id="sub-nav-download-firefox" class="download-button">
  
  <div class="nojs-download">
    
  <div class="download download-dumb">
    <p role="heading" class="download-heading">
      
        Descargar Firefox
        — Español (de Chile)
    </p>
    <ul>
      <li><a href="https://download.mozilla.org/?product=firefox-stub&amp;os=win64&amp;lang=es-CL" class="download-link button button-green" data-link-type="download" data-download-version="win64" data-download-os="Desktop">Windows 64-bit</a>
        </li><li><a href="https://download.mozilla.org/?product=firefox-stub&amp;os=win&amp;lang=es-CL" class="download-link button button-green" data-link-type="download" data-download-version="win" data-download-os="Desktop">Windows 32-bit</a>
        </li><li><a href="https://download.mozilla.org/?product=firefox-latest-ssl&amp;os=osx&amp;lang=es-CL" class="download-link button button-green" data-link-type="download" data-download-version="osx" data-download-os="Desktop">macOS</a>
        </li><li><a href="https://download.mozilla.org/?product=firefox-latest-ssl&amp;os=linux64&amp;lang=es-CL" class="download-link button button-green" data-link-type="download" data-download-version="linux64" data-download-os="Desktop">Linux 64-bit</a>
        </li><li><a href="https://download.mozilla.org/?product=firefox-latest-ssl&amp;os=linux&amp;lang=es-CL" class="download-link button button-green" data-link-type="download" data-download-version="linux" data-download-os="Desktop">Linux 32-bit</a>
        </li><li><a href="https://play.google.com/store/apps/details?id=org.mozilla.firefox&amp;referrer=utm_source%3Dmozilla%26utm_medium%3DReferral%26utm_campaign%3Dmozilla-org" class="download-link button button-green" data-link-type="download" data-download-version="android" data-download-os="Android">Android</a>
        </li><li><a href="https://itunes.apple.com/us/app/apple-store/id989804926?pt=373246&amp;mt=8" class="download-link button button-green" data-link-type="download" data-download-version="ios" data-download-os="iOS">iOS</a>
        </li>
    </ul>
  </div>

  </div>
  
    
    <div class="unrecognized-download">
      <p>Puede que tu sistema no cumpla los requisitos para Firefox, pero igual puedes intentar con una de estas versiones:</p>
      
  <div class="download download-dumb">
    <p role="heading" class="download-heading">
      
        Descargar Firefox
        — Español (de Chile)
    </p>
    <ul>
      <li><a href="https://download.mozilla.org/?product=firefox-stub&amp;os=win64&amp;lang=es-CL" class="download-link button button-green" data-link-type="download" data-download-version="win64" data-download-os="Desktop">Windows 64-bit</a>
        </li><li><a href="https://download.mozilla.org/?product=firefox-stub&amp;os=win&amp;lang=es-CL" class="download-link button button-green" data-link-type="download" data-download-version="win" data-download-os="Desktop">Windows 32-bit</a>
        </li><li><a href="https://download.mozilla.org/?product=firefox-latest-ssl&amp;os=osx&amp;lang=es-CL" class="download-link button button-green" data-link-type="download" data-download-version="osx" data-download-os="Desktop">macOS</a>
        </li><li><a href="https://download.mozilla.org/?product=firefox-latest-ssl&amp;os=linux64&amp;lang=es-CL" class="download-link button button-green" data-link-type="download" data-download-version="linux64" data-download-os="Desktop">Linux 64-bit</a>
        </li><li><a href="https://download.mozilla.org/?product=firefox-latest-ssl&amp;os=linux&amp;lang=es-CL" class="download-link button button-green" data-link-type="download" data-download-version="linux" data-download-os="Desktop">Linux 32-bit</a>
        </li><li><a href="https://play.google.com/store/apps/details?id=org.mozilla.firefox&amp;referrer=utm_source%3Dmozilla%26utm_medium%3DReferral%26utm_campaign%3Dmozilla-org" class="download-link button button-green" data-link-type="download" data-download-version="android" data-download-os="Android">Android</a>
        </li><li><a href="https://itunes.apple.com/us/app/apple-store/id989804926?pt=373246&amp;mt=8" class="download-link button button-green" data-link-type="download" data-download-version="ios" data-download-os="iOS">iOS</a>
        </li>
    </ul>
  </div>

    </div>
    <p class="unsupported-download">
      Su sistema no cumple los <a href="https://www.mozilla.org/es-CL/firefox/system-requirements/">requisitos</a> para correr Firefox.
    </p>
    <p class="unsupported-download-osx">
      Su sistema no cumple los <a href="https://support.mozilla.org/kb/firefox-osx">requisitos</a> para correr Firefox.
    </p>
    <p class="linux-arm-download">
      Por favor, sigue <a href="https://support.mozilla.org/kb/install-firefox-linux">estas instrucciones</a> para instalar Firefox.
    </p>
  
  <ul class="download-list">
    
      <li class="os_win64">
        <a class="download-link button button-green" href="https://www.mozilla.org/firefox/download/thanks/" data-direct-link="https://download.mozilla.org/?product=firefox-stub&amp;os=win64&amp;lang=es-CL" data-link-type="download" data-display-name="Windows 64-bit" data-download-version="win64" data-download-os="Desktop" data-download-location="sub nav">
          <strong class="download-title">
            
              Descargar Firefox
            
          </strong>
        </a>
      </li>
    
      <li class="os_win">
        <a class="download-link button button-green" href="https://www.mozilla.org/firefox/download/thanks/" data-direct-link="https://download.mozilla.org/?product=firefox-stub&amp;os=win&amp;lang=es-CL" data-link-type="download" data-display-name="Windows 32-bit" data-download-version="win" data-download-os="Desktop" data-download-location="sub nav">
          <strong class="download-title">
            
              Descargar Firefox
            
          </strong>
        </a>
      </li>
    
      <li class="os_osx">
        <a class="download-link button button-green" href="https://www.mozilla.org/firefox/download/thanks/" data-direct-link="https://download.mozilla.org/?product=firefox-latest-ssl&amp;os=osx&amp;lang=es-CL" data-link-type="download" data-display-name="macOS" data-download-version="osx" data-download-os="Desktop" data-download-location="sub nav">
          <strong class="download-title">
            
              Descargar Firefox
            
          </strong>
        </a>
      </li>
    
      <li class="os_linux64">
        <a class="download-link button button-green" href="https://www.mozilla.org/firefox/download/thanks/" data-direct-link="https://download.mozilla.org/?product=firefox-latest-ssl&amp;os=linux64&amp;lang=es-CL" data-link-type="download" data-display-name="Linux 64-bit" data-download-version="linux64" data-download-os="Desktop" data-download-location="sub nav">
          <strong class="download-title">
            
              Descargar Firefox
            
          </strong>
        </a>
      </li>
    
      <li class="os_linux">
        <a class="download-link button button-green" href="https://www.mozilla.org/firefox/download/thanks/" data-direct-link="https://download.mozilla.org/?product=firefox-latest-ssl&amp;os=linux&amp;lang=es-CL" data-link-type="download" data-display-name="Linux 32-bit" data-download-version="linux" data-download-os="Desktop" data-download-location="sub nav">
          <strong class="download-title">
            
              Descargar Firefox
            
          </strong>
        </a>
      </li>
    
      <li class="os_android">
        <a class="download-link button button-green" href="https://play.google.com/store/apps/details?id=org.mozilla.firefox&amp;referrer=utm_source%3Dmozilla%26utm_medium%3DReferral%26utm_campaign%3Dmozilla-org" data-link-type="download" data-display-name="Android" data-download-version="android" data-download-os="Android" data-download-location="sub nav">
          <strong class="download-title">
            
              Descargar Firefox
            
          </strong>
        </a>
      </li>
    
      <li class="os_ios">
        <a class="download-link button button-green" href="https://itunes.apple.com/us/app/apple-store/id989804926?pt=373246&amp;mt=8" data-link-type="download" data-display-name="iOS" data-download-version="ios" data-download-os="iOS" data-download-location="sub nav">
          <strong class="download-title">
            
              Descargar Firefox
            
          </strong>
        </a>
      </li>
    
  </ul>
  <small class="fx-privacy-link">
    
      
    
    <a href="https://www.mozilla.org/es-CL/privacy/firefox/">Privacidad de Firefox</a>
  </small>
</div>
      </div>
    </div>
  </div>
</nav></div>
<main role="main">
  <section class="section section-intro">
    <div class="content">

      <div class="section-body">
        <h1 class="page-title">Firefox Quantum: Developer Edition</h1>
        <p class="tagline">Bienvenido a tu nuevo navegador favorito. 
Obtén las últimas funciones, el rendimiento más rápido y las 
herramientas de desarrollo que necesitas para construir en la web 
abierta.</p>



        <p class="feedback-note">
          Firefox Developer Edition envía automáticamente reportes a Mozilla.
         
        </p>
      </div>

      <img class="hero-image" src="assets/hero-screenshot.png" srcset="/media/img/firefox/developer/hero-screenshot-high-res.ea9929276e8d.png 1.5x" alt="" width="1200" height="400">

    </div>
  </section>

  <section class="section section-performance">
    <div class="content">
      <h2 class="section-title"><span>Rendimiento más rápido</span></h2>

      <div class="section-body">
        <h3 class="body-title">Un motor CSS de última generación</h3>
        <img class="hero-image" src="assets/stylo-engine.svg" alt="">
        <p>
        Firefox ha sido reconstruido desde sus cimientos para ser más 
rápido y potente que nunca. Esto incluye un nuevo motor CSS que tiene 
las últimas innovaciones y es increíblemente rápido.
        </p>
      
      </div>
    </div>
  </section>

  <section class="section section-highlights">
  <div class="content">
    <div class="highlight-item">
      <h2 class="section-title"><span>Nuevas herramientas</span></h2>

      <div class="section-body">
        <a href="https://mozilladevelopers.github.io/playground/debugger/" rel="external">
          <h3 id="devtools" class="body-title">Herramientas de desarrollo de Firefox</h3>
          
          <img class="hero-image" src="assets/hero-debugger-ani.gif" alt="">
        </a>
        <p>
        
          Las nuevas herramientas de desarrollo de Firefox son potentes,
 flexibles, y lo mejor de todo, hackeables. Esto incluye el mejor de 
todos los depuradores JavaScript, apto para múltiples navegadores y que 
está integrado a React y Ember.
        
        </p>

      </div>
    </div>

    <div class="highlight-item">
      <h2 class="section-title"><span>Funciones innovadores</span></h2>

      <div class="section-body">
        <a href="https://mozilladevelopers.github.io/playground/css-grid/" rel="external">
          <h3 id="cssgrid" class="body-title">Sé un experto en cuadrículas CSS</h3>
          
          <img class="hero-image" src="assets/hero-cssgrid-ani.gif" alt="">
        </a>
        <p>
        Firefox es el único navegador con herramientas integradas 
específicamente para construir y diseñar con cuadrículas CSS. Estas 
herramientas te permiten visualizar la cuadrícula, mostrar nombres de 
áreas asociadas, previsualizar transformaciones en la cuadrícula y mucho
 más.
        </p>

      </div>
    </div>

    
  </div>
</section>

  <section class="section section-features">
  <div class="content">
    <h2 class="section-title"><span>Diseña. Programa. Prueba. Mejora.</span></h2>

    <div class="section-body">
      
      <h3 class="body-title">Crea y perfecciona tus sitios con las<br> herramientas de desarrollo de Firefox</h3>

      <ul class="features-list gallery-list has-three-cols">
        <li class="gallery-item feature">
          <img class="icon" src="assets/feature-inspector.svg" alt="">
          <h3 class="name">Inspector</h3>
          <p class="desc">
            Inspecciona y refina el código para construir plantilla a nivel de pixeles.            
          </p>
        </li>

        <li class="gallery-item feature">
          <img class="icon" src="assets/feature-console.svg" alt="">
          <h3 class="name">Consola</h3>
          <p class="desc">
            Rastrea problemas con CSS, JavaScript, seguridad y la red.
          </p>
        </li>

        <li class="gallery-item feature">
          <img class="icon" src="assets/feature-debugger.svg" alt="">
          <h3 class="name">Depurador</h3>
          <p class="desc">
            Potente depurador JavaScript con soporte para tu framework.
          </p>
        </li>

        <li class="gallery-item feature">
          <img class="icon" src="assets/feature-network.svg" alt="">
          <h3 class="name">Red</h3>
          <p class="desc">
            Monitorea las solicitudes de red que pueden poner lento o bloquear tu sitio.
          </p>
        </li>

        <li class="gallery-item feature">
          <img class="icon" src="assets/feature-storage.svg" alt="">
          <h3 class="name">Panel de almacenamiento</h3>
          <p class="desc">
            Añade, modifica y elimina caché, cookies, databases y datos de la sesión.
          </p>
        </li>

        <li class="gallery-item feature">
          <img class="icon" src="assets/feature-responsive-mode.svg" alt="">
          <h3 class="name">Modo de diseño responsivo</h3>
          <p class="desc">
            Prueba sitios en dispositivos emulados en tu navegador.
          </p>
        </li>

        <li class="gallery-item feature">
          <img class="icon" src="assets/feature-visual-editing.svg" alt="">
          <h3 class="name">Edición visual</h3>
          <p class="desc">
            Ajusta finamente las animaciones y el alineamiento.
          </p>
        </li>

        <li class="gallery-item feature">
          <img class="icon" src="assets/feature-performance.svg" alt="">
          <h3 class="name">Rendimiento</h3>
          <p class="desc">
            Desbloquea cuellos de botella, agiliza los procesos y optimiza los componentes.
          </p>
        </li>

        <li class="gallery-item feature">
          <img class="icon" src="assets/feature-memory.svg" alt="">
          <h3 class="name">Memoria</h3>
          <p class="desc">
            Encuentra fugas de memoria y haz que tu aplicación sea ligerísima.
          </p>
        </li>

        <li class="gallery-item feature">
          <img class="icon" src="assets/feature-web-audio.svg" alt="">
          <h3 class="name">Audio web</h3>
          <p class="desc">
            La única herramienta de desarrollador para inspeccionar la API de audio web.
          </p>
        </li>

        <li class="gallery-item feature">
          <img class="icon" src="assets/feature-scratchpad.svg" alt="">
          <h3 class="name">Borrador</h3>
          <p class="desc">
            Edita, escribe y ejecuta JavaScript en tiempo real.
          </p>
        </li>

        <li class="gallery-item feature">
          <img class="icon" src="assets/feature-style-editor.svg" alt="">
          <h3 class="name">Editor de estilo</h3>
          <p class="desc">
            Edita y gestiona todas tus hojas de estilo CSS en tu navegador.
            
              <a href="https://developer.mozilla.org/docs/Tools/Style_Editor" class="features-learn-more" rel="external">Aprender más sobre el Editor de estilo</a>
            
          </p>
        </li>
      </ul>
    </div>

  </div>
</section>

  <section class="section section-engage">
  <div class="content">

    <section class="speak-up">
      <h3>Cuéntanos</h3>
      <p>Los comentarios nos hace mejores. Cuéntanos cómo podemos mejorar el navegador y las herramientas para desarrolladores.</p>

    </section>

    <section class="get-involved">
      <h3>Participa</h3>
      <p>Ayuda a construir el último navegador independiente. Escribe código, arregla errores, crea complementos y más.</p>

    </section>

  </div>
</section>

  <section class="section section-download">
    <div class="content">
      <div class="section-body">
        <h2>Descarga el navegador Firefox creado para desarrolladores</h2>
              </div>
    </div>
  </section>

  <section class="section section-newsletter">
    <div class="content">
    
      






  
    <div id="footer-email-errors" class="hidden">
      <ul class="errorlist"></ul>
    </div>
  

  <form class="billboard newsletter-form footer-newsletter-form" id="newsletter-form" action="/es-CL/newsletter/" method="post" data-spinner-color="#fff">
    <input id="id_newsletters" maxlength="100" name="newsletters" type="hidden" value="mozilla-and-you">
    <input type="hidden" name="source_url" value="https://www.mozilla.org/es-CL/firefox/developer/">

    
      <div class="form-title">
        <h3>Recibe noticias sobre Firefox</h3>
      
      </div>
    

    <div class="form-contents">
      <div class="field field-email ">
        
          <input id="id_email" name="email" placeholder="TU CORREO AQUÍ" required="required" type="email">
        
      </div>

      <div id="form-details">
        
          <div class="field field-country">
            <select aria-required="true" id="id_country" name="country" required="required">
<option value="af">Afganistán</option>
<option value="qz">Akrotiri</option>
<option value="al">Albania</option>
<option value="de">Alemania</option>
<option value="ad">Andorra</option>
<option value="ao">Angola</option>
<option value="ai">Anguilla</option>
<option value="ag">Antigua y Barbuda</option>
<option value="aq">Antártica</option>
<option value="sa">Arabia Saudí</option>
<option value="dz">Argelia</option>
<option value="ar">Argentina</option>
<option value="am">Armenia</option>
<option value="xm">Arrecife Kingman</option>
<option value="aw">Aruba</option>
<option value="xu">Atolón Johnston</option>
<option value="xl">Atolón Palmyra</option>
<option value="au">Australia</option>
<option value="at">Austria</option>
<option value="az">Azerbiayán</option>
<option value="bs">Bahamas</option>
<option value="bh">Bahrein</option>
<option value="bd">Bangladesh</option>
<option value="bb">Barbados</option>
<option value="qs">Bassas da India</option>
<option value="bz">Belice</option>
<option value="bj">Benin</option>
<option value="bm">Bermuda</option>
<option value="by">Bielorrusia</option>
<option value="bo">Bolivia</option>
<option value="bq">Bonaire, San Eustaquio y Saba</option>
<option value="ba">Bosnia-Herzegovina</option>
<option value="bw">Botswana</option>
<option value="br">Brasil</option>
<option value="bn">Brunéi</option>
<option value="bg">Bulgaria</option>
<option value="bf">Burkina Faso</option>
<option value="bi">Burundi</option>
<option value="bt">Bután</option>
<option value="be">Bélgica</option>
<option value="cv">Cabo Verde</option>
<option value="kh">Camboya</option>
<option value="cm">Camerún</option>
<option value="ca">Canadá</option>
<option value="td">Chad</option>
<option value="cl" selected="selected">Chile</option>
<option value="cn">China</option>
<option value="cy">Chipre</option>
<option value="xw">Cisjordania</option>
<option value="va">Ciudad del Vaticano</option>
<option value="co">Colombia</option>
<option value="km">Comoros</option>
<option value="kp">Corea del Norte</option>
<option value="kr">Corea del Sur\u0020</option>
<option value="cr">Costa Rica</option>
<option value="ci">Costa de Marfil</option>
<option value="hr">Croacia</option>
<option value="cu">Cuba</option>
<option value="cw">Curazao</option>
<option value="xd">Dhekelia</option>
<option value="dg">Diego García</option>
<option value="dk">Dinamarca</option>
<option value="dm">Dominica</option>
<option value="ec">Ecuador</option>
<option value="eg">Egipto</option>
<option value="sv">El Salvador</option>
<option value="ae">Emiratos Árabes Unidos</option>
<option value="er">Eritrea</option>
<option value="sk">Eslovaquia</option>
<option value="si">Eslovenia</option>
<option value="es">España</option>
<option value="us">Estados Unidos</option>
<option value="ee">Estionia</option>
<option value="et">Etiopía</option>
<option value="fj">Fiji</option>
<option value="ph">Filipinas</option>
<option value="fi">Finlandia</option>
<option value="fr">Francia</option>
<option value="xg">Franja de Gaza</option>
<option value="ga">Gabón</option>
<option value="gm">Gambia</option>
<option value="ge">Georgia</option>
<option value="gs">Georgia del Sur y las Islas Sandwich del Sur</option>
<option value="gh">Ghana</option>
<option value="gi">Gibraltar</option>
<option value="gd">Granada</option>
<option value="gr">Grecia</option>
<option value="gl">Groenlandia</option>
<option value="gp">Guadalupe</option>
<option value="gu">Guam</option>
<option value="gt">Guatemala</option>
<option value="gf">Guayana Francesa</option>
<option value="gg">Guernsey</option>
<option value="gn">Guinea</option>
<option value="gq">Guinea Ecuatorial</option>
<option value="gw">Guinea-Bissau</option>
<option value="gy">Guyana</option>
<option value="ht">Haití</option>
<option value="nl">Holanda / Países Bajos</option>
<option value="hn">Honduras</option>
<option value="hk">Hong Kong</option>
<option value="hu">Hungría</option>
<option value="in">India</option>
<option value="id">Indonesia</option>
<option value="iq">Irak</option>
<option value="ie">Irlanda</option>
<option value="ir">Irán</option>
<option value="xb">Isla Baker</option>
<option value="bv">Isla Bouvet</option>
<option value="cp">Isla Clipperton</option>
<option value="xe">Isla Europa</option>
<option value="xh">Isla Howland</option>
<option value="xq">Isla Jarvis</option>
<option value="qu">Isla Juan de Nova</option>
<option value="nf">Isla Norfolk</option>
<option value="xt">Isla Tromelin</option>
<option value="qw">Isla Wake</option>
<option value="im">Isla de Man</option>
<option value="xv">Isla de Navaza</option>
<option value="cx">Isla de Navidad</option>
<option value="sx">Isla de San Martín</option>
<option value="is">Islandia</option>
<option value="xa">Islas Ashmore y Cartier</option>
<option value="ky">Islas Caimán</option>
<option value="cc">Islas Cocos (Keeling)</option>
<option value="ck">Islas Cook</option>
<option value="fo">Islas Feroe</option>
<option value="qx">Islas Gloriosas</option>
<option value="hm">Islas Heard e Islas McDonald</option>
<option value="fk">Islas Malvinas</option>
<option value="mp">Islas Marianas del Norte</option>
<option value="mh">Islas Marshall</option>
<option value="qm">Islas Midway</option>
<option value="xp">Islas Paracelso</option>
<option value="sb">Islas Salomón</option>
<option value="xs">Islas Spratly</option>
<option value="tc">Islas Turcas y Caicos</option>
<option value="vg">Islas Virgenes Británicas</option>
<option value="vi">Islas Virgenes de EEUU</option>
<option value="xc">Islas del Mar del Coral</option>
<option value="il">Israel</option>
<option value="it">Italia</option>
<option value="jm">Jamaica</option>
<option value="xj">Jan Mayen</option>
<option value="jp">Japón</option>
<option value="je">Jersey</option>
<option value="jo">Jordania</option>
<option value="kz">Kazajstán</option>
<option value="ke">Kenia</option>
<option value="kg">Kirguistán</option>
<option value="ki">Kiribati</option>
<option value="xk">Kosovo</option>
<option value="kw">Kuwait</option>
<option value="la">Laos</option>
<option value="ls">Lesotho</option>
<option value="lv">Letonia</option>
<option value="lr">Liberia</option>
<option value="ly">Libia</option>
<option value="li">Liechtenstein</option>
<option value="lt">Lituania</option>
<option value="lu">Luxemburgo</option>
<option value="lb">Líbano</option>
<option value="mo">Macao\u0020</option>
<option value="mk">Macedonia</option>
<option value="mg">Madagascar</option>
<option value="my">Malasia</option>
<option value="mw">Malawi</option>
<option value="mv">Maldivas</option>
<option value="mt">Malta</option>
<option value="ml">Malí</option>
<option value="ma">Marruecos</option>
<option value="mq">Martinica</option>
<option value="mu">Mauricio</option>
<option value="mr">Mauritania</option>
<option value="yt">Mayotte</option>
<option value="fm">Micronesia</option>
<option value="md">Moldavia</option>
<option value="mn">Mongolia</option>
<option value="me">Montenegro</option>
<option value="ms">Montserrat</option>
<option value="mz">Mozambique</option>
<option value="mm">Myanmar</option>
<option value="mx">México</option>
<option value="mc">Mónaco</option>
<option value="na">Namibia</option>
<option value="nr">Nauru</option>
<option value="np">Nepal</option>
<option value="ni">Nicaragua</option>
<option value="ng">Nigeria</option>
<option value="nu">Niue</option>
<option value="no">Noruega</option>
<option value="nc">Nueva Caledonia</option>
<option value="nz">Nueva Zelandia</option>
<option value="ne">Níger</option>
<option value="om">Omán</option>
<option value="pk">Pakistán</option>
<option value="pw">Palau</option>
<option value="pa">Panamá</option>
<option value="pg">Papúa Nueva Guinea</option>
<option value="py">Paraguay</option>
<option value="pe">Perú</option>
<option value="pn">Pitcairn</option>
<option value="pf">Polinesia Francesa</option>
<option value="pl">Polonia</option>
<option value="pt">Portugal</option>
<option value="pr">Puerto Rico</option>
<option value="qa">Qatar</option>
<option value="gb">Reino Unido</option>
<option value="cf">República Centroafricana</option>
<option value="cz">República Checa</option>
<option value="cd">República Democrática del Congo</option>
<option value="do">República Dominicana</option>
<option value="cg">República del Congo</option>
<option value="re">Reunión</option>
<option value="rw">Ruanda</option>
<option value="ro">Rumania</option>
<option value="ru">Rusia</option>
<option value="eh">Sahara Occidental</option>
<option value="kn">Saint Kitts y Nevis</option>
<option value="ws">Samoa</option>
<option value="as">Samoa americana</option>
<option value="bl">San Bartolomé</option>
<option value="sm">San Marino</option>
<option value="mf">San Martín</option>
<option value="pm">San Pedro y Miquelón</option>
<option value="vc">San Vicente y las Granadinas</option>
<option value="sh">Santa Helena</option>
<option value="lc">Santa Lucía</option>
<option value="st">Santo Tomé y Príncipe</option>
<option value="sn">Senegal</option>
<option value="rs">Serbia</option>
<option value="sc">Seychelles</option>
<option value="sl">Sierra Leona</option>
<option value="sg">Singapur</option>
<option value="sy">Siria</option>
<option value="so">Somalia</option>
<option value="lk">Sri Lanka</option>
<option value="za">Sudáfrica</option>
<option value="sd">Sudán</option>
<option value="ss">Sudán del Sur</option>
<option value="se">Suecia</option>
<option value="ch">Suiza</option>
<option value="sr">Surinam</option>
<option value="xr">Svalbard</option>
<option value="sz">Swazilandia</option>
<option value="th">Tailandia</option>
<option value="tw">Taiwan</option>
<option value="tz">Tanzania</option>
<option value="tj">Tayikistán</option>
<option value="io">Territorio británico en el Océano Índico</option>
<option value="tf">Territorios Australes Franceses</option>
<option value="tl">Timor Oriental</option>
<option value="tg">Togo</option>
<option value="tk">Tokelau</option>
<option value="to">Tonga</option>
<option value="tt">Trinidad y Tobago</option>
<option value="tm">Turkmenistán</option>
<option value="tr">Turquía</option>
<option value="tv">Tuvalu</option>
<option value="tn">Túnez</option>
<option value="ua">Ucrania</option>
<option value="ug">Uganda</option>
<option value="uy">Uruguay</option>
<option value="uz">Uzbekistán</option>
<option value="vu">Vanuatu</option>
<option value="ve">Venezuela</option>
<option value="vn">Vietnam</option>
<option value="wf">Wallis y Futuna</option>
<option value="ye">Yemen</option>
<option value="dj">Yibuti</option>
<option value="zm">Zambia</option>
<option value="zw">Zimbabue</option>
</select>
          </div>
        
        
          <div class="field field-language ">
            <select aria-required="true" id="id_lang" name="lang" required="required">
<option value="id">Bahasa Indonesia</option>
<option value="de">Deutsch</option>
<option value="en">English</option>
<option value="es" selected="selected">Español</option>
<option value="fr">Français</option>
<option value="pl">Polski</option>
<option value="pt">Português</option>
<option value="ru">Русский</option>
<option value="zh-TW">正體中文</option>
</select>
          </div>
        
        <div class="field field-format">
          <label for="id_fmt_0"><input checked="checked" id="id_fmt_0" name="fmt" type="radio" value="H"> HTML</label><label for="id_fmt_1"><input id="id_fmt_1" name="fmt" type="radio" value="T"> Texto</label>
        </div>
        <div class="field field-privacy ">
          <label for="id_privacy" class="privacy-check-label"><input id="id_privacy" name="privacy" required="required" type="checkbox"> <span class="title">Me parece bien que Mozilla gestione mi información según se indica en el <a href="https://www.mozilla.org/privacy/websites/">Aviso de privacidad</a></span></label>
        </div>
      </div>
    </div>

    <div class="form-submit">
      <button type="button" id="footer_email_submit" class="form-button button-hollow button-light" data-button-name="Newsletter Sign Up">
        
          
            Suscribirme
          
        
      </button>

      
        <p class="form-details">
          <small>Solo te enviaremos información relacionada con Mozilla.</small>
        </p>
      

    </div>

    <div id="newsletter-spinner" class="hidden"></div>
  </form>
  <div id="newsletter-form-thankyou" class="thank billboard newsletter-form hidden">
    
      
  <h3>¡Gracias!</h3>
  <p>
  Si no has confirmado previamente una suscripción a un boletín 
relacionado a Mozilla, puede que tengas que hacerlo. Por favor, revisa 
tu bandeja de entrada o filtro de spam en busca de un email de nosotros.
  </p>

    
  </div>

    
    </div>
  </section>
</main>


    
      <footer id="colophon" class="">
  <div class="content">
    <nav class="primary">
      <div class="logo">
        <a href="https://www.mozilla.org/es-CL/" data-link-type="footer" data-link-name="Mozilla">Mozilla</a>
      </div>
      <section class="mozilla">
        <h5>
          <a href="https://www.mozilla.org/es-CL/" data-link-type="footer" data-link-name="Mozilla">Mozilla</a>
        </h5>
        <ul class="mozilla-links">
          <li><a href="https://www.mozilla.org/es-CL/about/" data-link-type="footer" data-link-name="About">Acerca de</a></li>
          <li><a href="https://blog.mozilla.org/" data-link-type="footer" data-link-name="Blog">Blog</a></li>
          <li><a href="https://www.mozilla.org/es-CL/contact/" data-link-type="footer" data-link-name="Contact Us">Contáctanos</a></li>
          <li><a href="https://blog.mozilla.org/press-latam/" data-link-type="footer" data-link-name="Press Center">Centro de prensa</a>
          </li><li><a href="https://donate.mozilla.org/es-CL/?presets=68000,34000,17000,10200&amp;amount=34000&amp;utm_source=mozilla.org&amp;utm_medium=referral&amp;utm_content=footer&amp;currency=clp" class="donate" data-link-type="footer" data-link-name="Donate">Donar</a></li>
          <li><a href="https://wiki.mozilla.org/Webdev/GetInvolved/mozilla.org" data-link-type="footer" data-link-name="Contribute to this site">Colabora en esta página</a></li>
          
          
          <li>
            <ul class="social-links">
              <li><a class="twitter" href="https://twitter.com/mozilla" data-link-type="footer" data-link-name="Twitter (@mozilla)">Twitter<span> (@mozilla)</span></a></li>
              <li><a class="instagram" href="https://www.instagram.com/mozilla/" data-link-type="footer" data-link-name="Instagram (@mozilla)">Instagram<span> (@mozilla)</span></a></li>
            </ul>
          </li>
        </ul>
      </section>
      <section class="firefox">
        <h5>
          <a href="https://www.mozilla.org/es-CL/firefox/" data-link-type="footer" data-link-name="Firefox">Firefox</a>
        </h5>
        <ul class="firefox-links">
          <li><a href="https://www.mozilla.org/es-CL/firefox/new/" data-link-type="footer" data-link-name="Download Firefox">Descargar Firefox</a></li>
          <li><a href="https://www.mozilla.org/es-CL/firefox/" data-link-type="footer" data-link-name="Desktop">Escritorio</a></li>
          <li><a href="https://www.mozilla.org/es-CL/firefox/mobile/" data-link-type="footer" data-link-name="Mobile">Móvil</a></li>
          <li><a href="https://www.mozilla.org/es-CL/firefox/features/" data-link-type="footer" data-link-name="Features">Funciones</a></li>
          <li><a href="https://www.mozilla.org/es-CL/firefox/channel/desktop/" data-link-type="footer" data-link-name="Beta, Nightly, Developer Edition">Beta, Nightly, Edición para desarrolladores</a></li>
          <li>
            <ul class="social-links">
              <li><a class="twitter" href="https://twitter.com/firefox" data-link-type="footer" data-link-name="Twitter (@firefox)">Twitter<span> (@firefox)</span></a></li>
              <li><a class="youtube" href="https://www.youtube.com/firefoxchannel" data-link-type="footer" data-link-name="YouTube (firefoxchannel)">YouTube<span> (firefoxchannel)</span></a></li>
            </ul>
          </li>
        </ul>
      </section>
    </nav>

    <nav class="secondary">
        <div class="small-links">
          <ul>
            
            
              
            
            <li><a href="https://www.mozilla.org/es-CL/privacy/websites/" data-link-type="footer" data-link-name="Privacy">Privacidad</a></li>
            <li><a href="https://www.mozilla.org/es-CL/privacy/websites/#cookies" data-link-type="footer" data-link-name="Cookies">Cookies</a></li>
            <li><a href="https://www.mozilla.org/es-CL/about/legal/" data-link-type="footer" data-link-name="Legal">Legal</a></li>
          </ul>
        
          <p class="license">Algunos de estos contenidos están 
protegidos por derechos de autor ©1998–2018 de determinados 
colaboradores en mozilla.org. Contenido disponible bajo una <a rel="license" href="https://www.mozilla.org/es-CL/foundation/licensing/website-content/">licencia Creative Commons</a>.</p>
        </div>
        <div class="lang-switcher">
          
<form id="lang_form" method="get" action="#">
  <label for="page-language-select">Idioma</label>
  <select id="page-language-select" name="lang" dir="ltr">
    
      <option value="an" lang="an">aragonés</option>
    
      <option value="ast" lang="ast">Asturianu</option>
    
      <option value="az" lang="az">Azərbaycanca</option>
    
      <option value="be" lang="be">Беларуская</option>
    
      <option value="bg" lang="bg">Български</option>
    
      <option value="bn-IN" lang="bn-IN">বাংলা (ভারত)</option>
    
      <option value="bs" lang="bs">Bosanski</option>
    
      <option value="cak" lang="cak">Maya Kaqchikel</option>
    
      <option value="cs" lang="cs">Čeština</option>
    
      <option value="cy" lang="cy">Cymraeg</option>
    
      <option value="da" lang="da">Dansk</option>
    
      <option value="de" lang="de">Deutsch</option>
    
      <option value="dsb" lang="dsb">Dolnoserbšćina</option>
    
      <option value="el" lang="el">Ελληνικά</option>
    
      <option value="en-CA" lang="en-CA">English (Canadian)</option>
    
      <option value="en-GB" lang="en-GB">English (British)</option>
    
      <option value="en-US" lang="en-US">English</option>
    
      <option value="eo" lang="eo">Esperanto</option>
    
      <option value="es-AR" lang="es-AR">Español (de Argentina)</option>
    
      <option value="es-CL" selected="selected" lang="es-CL">Español (de Chile)</option>
    
      <option value="es-ES" lang="es-ES">Español (de España)</option>
    
      <option value="es-MX" lang="es-MX">Español (de México)</option>
    
      <option value="fa" lang="fa">فارسی</option>
    
      <option value="fr" lang="fr">Français</option>
    
      <option value="fy-NL" lang="fy-NL">Frysk</option>
    
      <option value="gn" lang="gn">Avañe'ẽ</option>
    
      <option value="gu-IN" lang="gu-IN">ગુજરાતી (ભારત)</option>
    
      <option value="hi-IN" lang="hi-IN">हिन्दी (भारत)</option>
    
      <option value="hsb" lang="hsb">Hornjoserbsce</option>
    
      <option value="hu" lang="hu">magyar</option>
    
      <option value="hy-AM" lang="hy-AM">Հայերեն</option>
    
      <option value="ia" lang="ia">Interlingua</option>
    
      <option value="id" lang="id">Bahasa Indonesia</option>
    
      <option value="it" lang="it">Italiano</option>
    
      <option value="ja" lang="ja">日本語</option>
    
      <option value="ka" lang="ka">ქართული</option>
    
      <option value="kab" lang="kab">Taqbaylit</option>
    
      <option value="ko" lang="ko">한국어</option>
    
      <option value="lt" lang="lt">Lietuvių</option>
    
      <option value="ml" lang="ml">മലയാളം</option>
    
      <option value="mr" lang="mr">मराठी</option>
    
      <option value="ms" lang="ms">Melayu</option>
    
      <option value="nb-NO" lang="nb-NO">Norsk bokmål</option>
    
      <option value="nl" lang="nl">Nederlands</option>
    
      <option value="nn-NO" lang="nn-NO">Norsk nynorsk</option>
    
      <option value="pa-IN" lang="pa-IN">ਪੰਜਾਬੀ (ਭਾਰਤ)</option>
    
      <option value="pl" lang="pl">Polski</option>
    
      <option value="pt-BR" lang="pt-BR">Português (do&nbsp;Brasil)</option>
    
      <option value="pt-PT" lang="pt-PT">Português (Europeu)</option>
    
      <option value="rm" lang="rm">rumantsch</option>
    
      <option value="ro" lang="ro">Română</option>
    
      <option value="ru" lang="ru">Русский</option>
    
      <option value="sk" lang="sk">slovenčina</option>
    
      <option value="sl" lang="sl">Slovenščina</option>
    
      <option value="sq" lang="sq">Shqip</option>
    
      <option value="sr" lang="sr">Српски</option>
    
      <option value="sv-SE" lang="sv-SE">Svenska</option>
    
      <option value="ta" lang="ta">தமிழ்</option>
    
      <option value="th" lang="th">ไทย</option>
    
      <option value="tr" lang="tr">Türkçe</option>
    
      <option value="uk" lang="uk">Українська</option>
    
      <option value="zh-CN" lang="zh-CN">中文 (简体)</option>
    
      <option value="zh-TW" lang="zh-TW">正體中文 (繁體)</option>
    
  </select>
  <button type="submit">Go</button>
</form>

        </div>
    </nav>
  </div>
</footer>
    
  </div>

  <!--[if IE 9]>
    <script type="text/javascript" src="/media/js/BUNDLES/matchmedia.a6e503dcb8bc.js" charset="utf-8"></script>
  <![endif]-->

    
      <!--[if !lte IE 8]><!-->
        <script type="text/javascript" src="assets/common.js" charset="utf-8"></script>
        
          <script type="text/javascript" src="assets/navigation-protocol.js" charset="utf-8"></script>
        
      <!--<![endif]-->

      <!--[if lte IE 8]>
        <script type="text/javascript" src="/media/js/BUNDLES/common-ie8.a4093f28fb5b.js" charset="utf-8"></script>
      <![endif]-->
    

    
    
      
        <script type="text/javascript" src="assets/stub-attribution.js" charset="utf-8"></script>
      
    

    <!--[if !lte IE 8]><!-->
    
  <script type="text/javascript" src="assets/firefox_developer.js" charset="utf-8"></script>


    
    

    
    <!--<![endif]-->

    
    
    <img src="assets/set_hsts.gif" class="hidden">
  
</body></html>